PORT=3003
MONGODB_URI=mongodb://localhost:27017/appointment_db
RABBITMQ_URL=amqp://localhost:5672
REDIS_URL=redis://localhost:6379
DOCTOR_SERVICE_URL=http://localhost:3002
USER_SERVICE_URL=http://localhost:3001
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
