# MongoDB Connections
MONGODB_URI_USER=mongodb://localhost:27017/user_db
MONGODB_URI_DOCTOR=mongodb://localhost:27017/doctor_db
MONGODB_URI_APPOINTMENT=mongodb://localhost:27017/appointment_db

# Notification Service
NOTIFICATION_PORT=3004

# Shared Redis & RabbitMQ Configurations
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672
